---
kind: Secret
apiVersion: v1
metadata:
  name: openldap
  namespace: openldap
data:
  adminpassword: "{{ LDAP_ADMIN_PASSWORD | b64encode }}"
  users: "{{ LDAP_USERS | b64encode }}"
  passwords: "{{ LDAP_PASSWORDS | b64encode }}"