---
kind: Secret
apiVersion: v1
metadata:
  name: aiops-metrics-processor
  namespace: "{{ PROJECT_CP4WAIOPS }}"
data:
  customerName: "{{ CUSTOMER_NAME | b64encode }}"
  customerICN: "{{ CUSTOMER_ICN | b64encode }}"
  environment: "{{ CUSTOMER_ENVIRONMENT | b64encode }}"
  enableCollection: "{{ false | b64encode }}"