apiVersion: v1
data:
  .dockerconfigjson: {{ DOCKER_CONFIG_JSON | to_json | b64encode }}
kind: Secret
metadata:
  creationTimestamp: null
  name: ibm-entitlement-key
  namespace: "{{ PROJECT_CP4WAIOPS }}"
  labels:
    app.kubernetes.io/name: instana
type: kubernetes.io/dockerconfigjson