apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ibm-aiops-orchestrator
  namespace: "{{ INSTALL_MODE_NAMESPACE }}"
spec:
  channel: v4.1
  installPlanApproval: Automatic
  name: ibm-aiops-orchestrator
  source: "{{ CATALOG_SRC_CP4WAIOPS }}"
  sourceNamespace: openshift-marketplace
